<section id="featured">
  <div class="featured-title">
    <h2>Featured Listings</h2>
    <a href="" class="link">
      More
      <svg
        width="17"
        height="16"
        viewBox="0 0 17 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9.43018 1.92993L15.5002 7.9999L9.43018 14.0699"
          stroke="#191A23"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M1.5 8H15.33"
          stroke="#191A23"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </a>
  </div>
  <article class="product">
    <a href="#" class="product-img__container"
      ><img src="./img/product1.jpg" alt="" class="product-img" />
    </a>
    <div class="product-data">
      <span class="product-price">
        $4,299
        <sub>month</sub>
      </span>
      <a href="#" class="product-title__link">
        <h2 class="product-title">Luxury Loft By Victoria Park</h2>
      </a>
      <strong class="product-address">709 West Drive Chicago, IL 60606</strong>
      <ul class="product-tag__list">
        <li class="product-tag">
          <svg
            width="22"
            height="15"
            viewBox="0 0 22 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.8889 14.1599V11.9932M2.11111 14.1599V11.9932M21 11.9932H1V8.74321C1 8.45591 1.11706 8.18041 1.32544
                7.97721C1.53381 7.77401 1.81643 7.65991 2.11111 7.65991H19.8889C20.1836 7.65991 20.4662 7.77401 20.6746 7.97721C20.8829
                8.18041 21 8.45591 21 8.74321V11.9932ZM18.7778 2.24324C18.7778 1.95593 18.6607 1.68038 18.4523 1.47721C18.244 1.27405
                17.9614 1.15991 17.6667 1.15991H4.33333C4.03865 1.15991 3.75603 1.27405 3.54766 1.47721C3.33929 1.68038 3.22222 1.95593
                3.22222 2.24324V7.65991H18.7778V2.24324Z"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          4 Beds
        </li>
        <li class="product-tag">
          <svg
            width="20"
            height="19"
            viewBox="0 0 20 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.26001 3.49324C7.26001 2.8744 6.99662 2.28091 6.52778 1.84333C6.05894 1.40574 5.42305 1.15991 4.76001
                1.15991C4.09697 1.15991 3.46108 1.40574 2.99224 1.84333C2.5234 2.28091 2.26001 2.8744 2.26001 3.49324V8.15991"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M1.26001 8.15991H19.26M15.76 16.1599L16.26 18.1599M4.76001 16.1599L4.26001 18.1599M18.26
                12.1599V8.15991H2.26001V12.1599C2.26001 13.2208 2.68144 14.2382 3.43158 14.9883C4.18173 15.7385 5.19914 16.1599 6.26001
                16.1599H14.26C15.3209 16.1599 16.3383 15.7385 17.0884 14.9883C17.8386 14.2382 18.26 13.2208 18.26 12.1599Z"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          4 Baths
        </li>
        <li class="product-tag">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask
              id="mask0_401_236"
              style="mask-type:luminance"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="25"
              height="25"
            >
              <path
                d="M24.0601 0.659912H0.0600586V24.6599H24.0601V0.659912Z"
                fill="white"></path>
            </mask>
            <g mask="url(#mask0_401_236)">
              <path
                d="M10.658 19.3124L4.20772 12.8621C3.47764 12.1321 3.47764 10.7878 4.20772 10.0577L10.658 3.6075C11.3881 2.87741 12.7323
                  2.87741 13.4624 3.6075L19.9126 10.0577C20.6427 10.7878 20.6427 12.1321 19.9126 12.8621L13.4624 19.3124C12.7323 20.0424
                  11.3881 20.0424 10.658 19.3124Z"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M2.45996 16.4656L7.69642 21.702"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M16.4233 21.702L21.6597 16.4656"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
          </svg>
          6x8 m²
        </li>
      </ul>
    </div>
  </article>
  <article class="product">
    <a href="#" class="product-img__container">
      <img src="./img/product2.jpg" alt="" class="product-img" />
    </a>
    <div class="product-data">
      <span class="product-price">
        $4,299
        <sub>month</sub>
      </span>
      <a href="#" class="product-title__link">
        <h2 class="product-title">Luxury Loft By Victoria Park</h2>
      </a>
      <strong class="product-address">709 West Drive Chicago, IL 60606</strong>
      <ul class="product-tag__list">
        <li class="product-tag">
          <svg
            width="22"
            height="15"
            viewBox="0 0 22 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.8889 14.1599V11.9932M2.11111 14.1599V11.9932M21 11.9932H1V8.74321C1 8.45591 1.11706 8.18041 1.32544
                7.97721C1.53381 7.77401 1.81643 7.65991 2.11111 7.65991H19.8889C20.1836 7.65991 20.4662 7.77401 20.6746 7.97721C20.8829
                8.18041 21 8.45591 21 8.74321V11.9932ZM18.7778 2.24324C18.7778 1.95593 18.6607 1.68038 18.4523 1.47721C18.244 1.27405
                17.9614 1.15991 17.6667 1.15991H4.33333C4.03865 1.15991 3.75603 1.27405 3.54766 1.47721C3.33929 1.68038 3.22222 1.95593
                3.22222 2.24324V7.65991H18.7778V2.24324Z"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          4 Beds
        </li>
        <li class="product-tag">
          <svg
            width="20"
            height="19"
            viewBox="0 0 20 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.26001 3.49324C7.26001 2.8744 6.99662 2.28091 6.52778 1.84333C6.05894 1.40574 5.42305 1.15991 4.76001
                1.15991C4.09697 1.15991 3.46108 1.40574 2.99224 1.84333C2.5234 2.28091 2.26001 2.8744 2.26001 3.49324V8.15991"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M1.26001 8.15991H19.26M15.76 16.1599L16.26 18.1599M4.76001 16.1599L4.26001 18.1599M18.26
                12.1599V8.15991H2.26001V12.1599C2.26001 13.2208 2.68144 14.2382 3.43158 14.9883C4.18173 15.7385 5.19914 16.1599 6.26001
                16.1599H14.26C15.3209 16.1599 16.3383 15.7385 17.0884 14.9883C17.8386 14.2382 18.26 13.2208 18.26 12.1599Z"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          4 Baths
        </li>
        <li class="product-tag">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask
              id="mask0_401_236"
              style="mask-type:luminance"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="25"
              height="25"
            >
              <path
                d="M24.0601 0.659912H0.0600586V24.6599H24.0601V0.659912Z"
                fill="white"></path>
            </mask>
            <g mask="url(#mask0_401_236)">
              <path
                d="M10.658 19.3124L4.20772 12.8621C3.47764 12.1321 3.47764 10.7878 4.20772 10.0577L10.658 3.6075C11.3881 2.87741 12.7323
                  2.87741 13.4624 3.6075L19.9126 10.0577C20.6427 10.7878 20.6427 12.1321 19.9126 12.8621L13.4624 19.3124C12.7323 20.0424
                  11.3881 20.0424 10.658 19.3124Z"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M2.45996 16.4656L7.69642 21.702"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M16.4233 21.702L21.6597 16.4656"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
          </svg>
          6x8 m²
        </li>
      </ul>
    </div>
  </article>
  <article class="product">
    <a href="#" class="product-img__container">
      <img src="./img/product3.jpg" alt="" class="product-img" />
    </a>
    <div class="product-data">
      <span class="product-price">
        $4,299
        <sub>month</sub>
      </span>
      <a href="" class="product-title__link">
        <h2 class="product-title">Luxury Loft By Victoria Park</h2>
      </a>
      <strong class="product-address">709 West Drive Chicago, IL 60606</strong>
      <ul class="product-tag__list">
        <li class="product-tag">
          <svg
            width="22"
            height="15"
            viewBox="0 0 22 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.8889 14.1599V11.9932M2.11111 14.1599V11.9932M21 11.9932H1V8.74321C1 8.45591 1.11706 8.18041 1.32544
                7.97721C1.53381 7.77401 1.81643 7.65991 2.11111 7.65991H19.8889C20.1836 7.65991 20.4662 7.77401 20.6746 7.97721C20.8829
                8.18041 21 8.45591 21 8.74321V11.9932ZM18.7778 2.24324C18.7778 1.95593 18.6607 1.68038 18.4523 1.47721C18.244 1.27405
                17.9614 1.15991 17.6667 1.15991H4.33333C4.03865 1.15991 3.75603 1.27405 3.54766 1.47721C3.33929 1.68038 3.22222 1.95593
                3.22222 2.24324V7.65991H18.7778V2.24324Z"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          4 Beds
        </li>
        <li class="product-tag">
          <svg
            width="20"
            height="19"
            viewBox="0 0 20 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.26001 3.49324C7.26001 2.8744 6.99662 2.28091 6.52778 1.84333C6.05894 1.40574 5.42305 1.15991 4.76001
                1.15991C4.09697 1.15991 3.46108 1.40574 2.99224 1.84333C2.5234 2.28091 2.26001 2.8744 2.26001 3.49324V8.15991"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M1.26001 8.15991H19.26M15.76 16.1599L16.26 18.1599M4.76001 16.1599L4.26001 18.1599M18.26
                12.1599V8.15991H2.26001V12.1599C2.26001 13.2208 2.68144 14.2382 3.43158 14.9883C4.18173 15.7385 5.19914 16.1599 6.26001
                16.1599H14.26C15.3209 16.1599 16.3383 15.7385 17.0884 14.9883C17.8386 14.2382 18.26 13.2208 18.26 12.1599Z"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          4 Baths
        </li>
        <li class="product-tag">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask
              id="mask0_401_236"
              style="mask-type:luminance"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="25"
              height="25"
            >
              <path
                d="M24.0601 0.659912H0.0600586V24.6599H24.0601V0.659912Z"
                fill="white"></path>
            </mask>
            <g mask="url(#mask0_401_236)">
              <path
                d="M10.658 19.3124L4.20772 12.8621C3.47764 12.1321 3.47764 10.7878 4.20772 10.0577L10.658 3.6075C11.3881 2.87741 12.7323
                  2.87741 13.4624 3.6075L19.9126 10.0577C20.6427 10.7878 20.6427 12.1321 19.9126 12.8621L13.4624 19.3124C12.7323 20.0424
                  11.3881 20.0424 10.658 19.3124Z"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M2.45996 16.4656L7.69642 21.702"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M16.4233 21.702L21.6597 16.4656"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
          </svg>
          6x8 m²
        </li>
      </ul>
    </div>
  </article>
  <article class="product">
    <a href="#" class="product-img__container">
      <img src="./img/product4.jpg" alt="" class="product-img" />
    </a>
    <div class="product-data">
      <span class="product-price">
        $4,299
        <sub>month</sub>
      </span>
      <a href="" class="product-title__link">
        <h2 class="product-title">Luxury Loft By Victoria Park</h2>
      </a>
      <strong class="product-address">709 West Drive Chicago, IL 60606</strong>
      <ul class="product-tag__list">
        <li class="product-tag">
          <svg
            width="22"
            height="15"
            viewBox="0 0 22 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.8889 14.1599V11.9932M2.11111 14.1599V11.9932M21 11.9932H1V8.74321C1 8.45591 1.11706 8.18041 1.32544
                7.97721C1.53381 7.77401 1.81643 7.65991 2.11111 7.65991H19.8889C20.1836 7.65991 20.4662 7.77401 20.6746 7.97721C20.8829
                8.18041 21 8.45591 21 8.74321V11.9932ZM18.7778 2.24324C18.7778 1.95593 18.6607 1.68038 18.4523 1.47721C18.244 1.27405
                17.9614 1.15991 17.6667 1.15991H4.33333C4.03865 1.15991 3.75603 1.27405 3.54766 1.47721C3.33929 1.68038 3.22222 1.95593
                3.22222 2.24324V7.65991H18.7778V2.24324Z"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          4 Beds
        </li>
        <li class="product-tag">
          <svg
            width="20"
            height="19"
            viewBox="0 0 20 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.26001 3.49324C7.26001 2.8744 6.99662 2.28091 6.52778 1.84333C6.05894 1.40574 5.42305 1.15991 4.76001
                1.15991C4.09697 1.15991 3.46108 1.40574 2.99224 1.84333C2.5234 2.28091 2.26001 2.8744 2.26001 3.49324V8.15991"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M1.26001 8.15991H19.26M15.76 16.1599L16.26 18.1599M4.76001 16.1599L4.26001 18.1599M18.26
                12.1599V8.15991H2.26001V12.1599C2.26001 13.2208 2.68144 14.2382 3.43158 14.9883C4.18173 15.7385 5.19914 16.1599 6.26001
                16.1599H14.26C15.3209 16.1599 16.3383 15.7385 17.0884 14.9883C17.8386 14.2382 18.26 13.2208 18.26 12.1599Z"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          4 Baths
        </li>
        <li class="product-tag">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask
              id="mask0_401_236"
              style="mask-type:luminance"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="25"
              height="25"
            >
              <path
                d="M24.0601 0.659912H0.0600586V24.6599H24.0601V0.659912Z"
                fill="white"></path>
            </mask>
            <g mask="url(#mask0_401_236)">
              <path
                d="M10.658 19.3124L4.20772 12.8621C3.47764 12.1321 3.47764 10.7878 4.20772 10.0577L10.658 3.6075C11.3881 2.87741 12.7323
                  2.87741 13.4624 3.6075L19.9126 10.0577C20.6427 10.7878 20.6427 12.1321 19.9126 12.8621L13.4624 19.3124C12.7323 20.0424
                  11.3881 20.0424 10.658 19.3124Z"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M2.45996 16.4656L7.69642 21.702"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M16.4233 21.702L21.6597 16.4656"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
          </svg>
          6x8 m²
        </li>
      </ul>
    </div>
  </article>
  <article class="product">
    <a href="#" class="product-img__container">
      <img src="./img/product5.jpg" alt="" class="product-img" />
    </a>
    <div class="product-data">
      <span class="product-price">
        $4,299
        <sub>month</sub>
      </span>
      <a href="" class="product-title__link">
        <h2 class="product-title">Luxury Loft By Victoria Park</h2>
      </a>
      <strong class="product-address">709 West Drive Chicago, IL 60606</strong>
      <ul class="product-tag__list">
        <li class="product-tag">
          <svg
            width="22"
            height="15"
            viewBox="0 0 22 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.8889 14.1599V11.9932M2.11111 14.1599V11.9932M21 11.9932H1V8.74321C1 8.45591 1.11706 8.18041 1.32544
                7.97721C1.53381 7.77401 1.81643 7.65991 2.11111 7.65991H19.8889C20.1836 7.65991 20.4662 7.77401 20.6746 7.97721C20.8829
                8.18041 21 8.45591 21 8.74321V11.9932ZM18.7778 2.24324C18.7778 1.95593 18.6607 1.68038 18.4523 1.47721C18.244 1.27405
                17.9614 1.15991 17.6667 1.15991H4.33333C4.03865 1.15991 3.75603 1.27405 3.54766 1.47721C3.33929 1.68038 3.22222 1.95593
                3.22222 2.24324V7.65991H18.7778V2.24324Z"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          4 Beds
        </li>
        <li class="product-tag">
          <svg
            width="20"
            height="19"
            viewBox="0 0 20 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.26001 3.49324C7.26001 2.8744 6.99662 2.28091 6.52778 1.84333C6.05894 1.40574 5.42305 1.15991 4.76001
                1.15991C4.09697 1.15991 3.46108 1.40574 2.99224 1.84333C2.5234 2.28091 2.26001 2.8744 2.26001 3.49324V8.15991"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M1.26001 8.15991H19.26M15.76 16.1599L16.26 18.1599M4.76001 16.1599L4.26001 18.1599M18.26
                12.1599V8.15991H2.26001V12.1599C2.26001 13.2208 2.68144 14.2382 3.43158 14.9883C4.18173 15.7385 5.19914 16.1599 6.26001
                16.1599H14.26C15.3209 16.1599 16.3383 15.7385 17.0884 14.9883C17.8386 14.2382 18.26 13.2208 18.26 12.1599Z"
              stroke="#191A23"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          4 Baths
        </li>
        <li class="product-tag">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask
              id="mask0_401_236"
              style="mask-type:luminance"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="25"
              height="25"
            >
              <path
                d="M24.0601 0.659912H0.0600586V24.6599H24.0601V0.659912Z"
                fill="white"></path>
            </mask>
            <g mask="url(#mask0_401_236)">
              <path
                d="M10.658 19.3124L4.20772 12.8621C3.47764 12.1321 3.47764 10.7878 4.20772 10.0577L10.658 3.6075C11.3881 2.87741 12.7323
                  2.87741 13.4624 3.6075L19.9126 10.0577C20.6427 10.7878 20.6427 12.1321 19.9126 12.8621L13.4624 19.3124C12.7323 20.0424
                  11.3881 20.0424 10.658 19.3124Z"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M2.45996 16.4656L7.69642 21.702"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M16.4233 21.702L21.6597 16.4656"
                stroke="#191A23"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
          </svg>
          6x8 m²
        </li>
      </ul>
    </div>
  </article>
</section>
