<section id="hero">
  <div class="hero-container">
    <h1 class="hero-title">Для заказа с сайта fl.ru</h1>
    <p>Это лишь пример, каркас. По изменению дизайна можем договориться, или сделать вообще новый</p>
    <div class="hero-data">
      <form id="heroFilter">
        <div class="hero-filter__item">
          <span>
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_401_37)">
                <path
                  opacity="0.4"
                  d="M4.58325 13.0959C2.88617 13.8446 1.83325 14.8879 1.83325 16.0418C1.83325 18.32 5.93731 20.1668 10.9999 20.1668C16.0625
                    20.1668 20.1666 18.32 20.1666 16.0418C20.1666 14.8879 19.1137 13.8446 17.4166 13.0959"
                  stroke="black"
                  stroke-width="1.83333"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
                <path
                  d="M11 15.5833C12.375 12.8333 16.5 11.0583 16.5 7.33325C16.5 4.29569 14.0376 1.83325 11 1.83325C7.96243 1.83325 5.5
                    4.29569 5.5 7.33325C5.5 11.0583 9.625 12.8333 11 15.5833Z"
                  stroke="black"
                  stroke-width="1.83333"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
                <path
                  d="M11 8.24992C11.5063 8.24992 11.9167 7.83951 11.9167 7.33325C11.9167 6.82699 11.5063 6.41659 11 6.41659C10.4937 6.41659
                    10.0833 6.82699 10.0833 7.33325C10.0833 7.83951 10.4937 8.24992 11 8.24992Z"
                  stroke="black"
                  stroke-width="1.83333"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_401_37">
                  <rect width="22" height="22" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </span>
          <label class="hero-filter__label">
            Location <input type="text" name="location" class="hero-filter__input" placeholder="address">
          </label>
        </div>
        <div class="hero-filter__item">
          <span>
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_401_44)">
                <path
                  opacity="0.4"
                  d="M10.9999 20.1666C16.0625 20.1666 20.1666 16.0625 20.1666 10.9999C20.1666 5.93731 16.0625 1.83325 10.9999
                    1.83325C5.93731 1.83325 1.83325 5.93731 1.83325 10.9999C1.83325 16.0625 5.93731 20.1666 10.9999 20.1666Z"
                  stroke="black"
                  stroke-width="1.83333"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
                <path
                  d="M7.79175 13.4445C7.79175 14.6258 8.74936 15.5834 9.93064 15.5834H11.9167C13.1824 15.5834 14.2084 14.5574 14.2084
                    13.2917C14.2084 12.0261 13.1824 11.0001 11.9167 11.0001H10.0834C8.81776 11.0001 7.79175 9.97407 7.79175 8.70841C7.79175
                    7.44276 8.81776 6.41675 10.0834 6.41675H12.0695C13.2508 6.41675 14.2084 7.37436 14.2084 8.55564M11.0001
                    5.04175V6.41675M11.0001 15.5834V16.9584"
                  stroke="black"
                  stroke-width="1.83333"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_401_44">
                  <rect width="22" height="22" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </span>
          <label class="hero-filter__label">
            Price <input type="text" name="price" class="hero-filter__input" placeholder="$1500-$2500">
          </label>
        </div>
        <div class="hero-filter__item">
          <span>
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_401_51)">
                <path
                  opacity="0.4"
                  d="M6.41659 8.70825L1.83325 10.9999L10.672 15.4193C10.7922 15.4794 10.8523 15.5095 10.9154 15.5213C10.9713 15.5318
                    11.0286 15.5318 11.0844 15.5213C11.1475 15.5095 11.2076 15.4794 11.3279 15.4193L20.1666 10.9999L15.5833 8.70825M6.41659
                    13.2916L1.83325 15.5833L10.672 20.0026C10.7922 20.0627 10.8523 20.0928 10.9154 20.1046C10.9713 20.1151 11.0286 20.1151
                    11.0844 20.1046C11.1475 20.0928 11.2076 20.0627 11.3279 20.0026L20.1666 15.5833L15.5833 13.2916"
                  stroke="black"
                  stroke-width="1.83333"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
                <path
                  d="M11.3279 1.99733C11.2076 1.93721 11.1475 1.90714 11.0844 1.89531C11.0286 1.88483 10.9713 1.88483 10.9154
                    1.89531C10.8523 1.90714 10.7922 1.93721 10.672 1.99733L1.83325 6.41669L10.672 10.836C10.7922 10.8962 10.8523 10.9262
                    10.9154 10.9381C10.9713 10.9485 11.0286 10.9485 11.0844 10.9381C11.1475 10.9262 11.2076 10.8962 11.3279 10.836L20.1666
                    6.41669L11.3279 1.99733Z"
                  stroke="black"
                  stroke-width="1.83333"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_401_51">
                  <rect width="22" height="22" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </span>
          <label class="hero-filter__label">
            Type of Property <input type="text" name="property" class="hero-filter__input" placeholder="apartment">
          </label>
        </div>
        <button type="submit" class="button">Search</button>
      </form>
      <div class="hero-services">
        <h2>Our Services</h2>
        <div class="hero-services__item">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              opacity="0.4"
              d="M12.6265 5C14.2046 3.45352 16.3661 2.5 18.7502 2.5C23.5827 2.5 27.5002 6.41751 27.5002 11.25C27.5002 13.6342 26.5466
                15.7956 25.0001 17.3738"
              stroke="white"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"/>
            <path
              d="M11.25 27.5C16.0825 27.5 20 23.5825 20 18.75C20 13.9175 16.0825 10 11.25 10C6.41751 10 2.5 13.9175 2.5 18.75C2.5
                23.5825 6.41751 27.5 11.25 27.5Z"
              stroke="white"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"/>
          </svg>
          <p>The price we offer accordance with the quality we provide</p>
        </div>
        <div class="hero-services__item">
          <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              opacity="0.4"
              d="M15 8V28M15 8H10.5804C9.92916 8 9.30463 7.73661 8.84416 7.26777C8.38369 6.79893 8.125 6.16304 8.125 5.5C8.125 4.83696
                8.38369 4.20107 8.84416 3.73223C9.30463 3.26339 9.92916 3 10.5804 3C14.0179 3 15 8 15 8ZM15 8H19.4196C20.0708 8 20.6954
                7.73661 21.1558 7.26777C21.6163 6.79893 21.875 6.16304 21.875 5.5C21.875 4.83696 21.6163 4.20107 21.1558 3.73223C20.6954
                3.26339 20.0708 3 19.4196 3C15.9821 3 15 8 15 8Z"
              stroke="white"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"/>
            <path
              d="M25 14.25V24C25 25.4001 25 26.1002 24.7275 26.635C24.4878 27.1054 24.1054 27.4878 23.635 27.7275C23.1002 28 22.4001 28
                21 28L9 28C7.59987 28 6.8998 28 6.36502 27.7275C5.89462 27.4878 5.51217 27.1054 5.27248 26.635C5 26.1002 5 25.4001 5
                24V14.25M2.5 10L2.5 12.25C2.5 12.9501 2.5 13.3001 2.63624 13.5675C2.75608 13.8027 2.94731 13.9939 3.18251 14.1138C3.4499
                14.25 3.79993 14.25 4.5 14.25L25.5 14.25C26.2001 14.25 26.5501 14.25 26.8175 14.1138C27.0527 13.9939 27.2439 13.8027
                27.3638 13.5675C27.5 13.3001 27.5 12.9501 27.5 12.25V10C27.5 9.29993 27.5 8.9499 27.3638 8.68251C27.2439 8.44731 27.0527
                8.25608 26.8175 8.13624C26.5501 8 26.2001 8 25.5 8L4.5 8C3.79993 8 3.4499 8 3.18251 8.13624C2.94731 8.25608 2.75608
                8.44731 2.63624 8.68251C2.5 8.9499 2.5 9.29993 2.5 10Z"
              stroke="white"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"/>
          </svg>
          <p>Official legality in the relevant government</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-img__container">
    <img src="./img/house.jpg" alt="house" class="hero-img">
  </div>
</section>