<section id="testimonials">
  <svg width="54" height="43" viewBox="0 0 54 43" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M10.2096 18.1714V20.2702C10.2096 24.6586 11.3544 28.093 13.644 30.5734C15.9336 33.0538 19.1772 34.5802 23.5656
        34.9618V42.5938C16.506 42.403 10.9728 40.3042 6.966 36.1066C2.7684 31.909 0.860352 26.3758 0.860352
        19.507V0.0454102H17.8415L17.8416 18.1714H10.2096ZM39.7836 18.1714V20.2702C39.7836 24.6586 40.9284 28.093 43.218
        30.5734C45.5076 33.0538 48.7512 34.5802 53.1396 34.9618V42.5938C46.08 42.403 40.5468 40.3042 36.54 36.1066C32.3424 31.909
        30.4344 26.3758 30.4344 19.507V0.0454102H47.4156V18.1714H39.7836Z"
      fill="var(--c-accent)"/>
  </svg>
  <h2>What our Customers says</h2>
  <div class="testimonials-slider">
    <blockquote class="testimonial-item">
      <div class="rating-stars__container"></div>
      <p class="testimonial-description">
        “Lorem ipsum dolor sit amet consectetur. Erat vehicula dignissim amet lacus eleifend mi nec amet. Ultrices senectus
        vitae laoreet neque. Elementum elit in.”
      </p>
      <div class="testimonial-author">
        <span class="testimonial-author__title">Lailastly</span>
        <span>Real Estate</span>
        <img src="./img/avatar.png" alt="avatar" class="testimonial-author__img">
      </div>
    </blockquote>
  </div>
</section>