<section id="numbers">
  <div class="numbers-list">
    <div class="numbers-list__item">
      <span>9</span>
      <strong>Years experience in real estate</strong>
    </div>
    <div class="numbers-list__item">
      <span>$23K</span>
      <strong>Total Net Profit Every Month</strong>
    </div>
    <div class="numbers-list__item">
      <span>17</span>
      <strong>Every month a new happy customer</strong>
    </div>
    <div class="numbers-list__item">
      <span>$4K-7K</span>
      <strong>Approximate Profit In 20 Business Days</strong>
    </div>
  </div>
  <div class="numbers-container">
    <h2>We use Real Estate to show our appreciation of the world.</h2>
    <p>
      We provide equity and debt capital globally to back projects that make an
      impact.
    </p>
    <button type="button" class="button" name="knowMore">Know More</button>
  </div>
</section>
